{% extends "../base/base.html" %}
{% block title %}
Anime Ocean Api's
{% endblock %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@500&display=swap');
    body{
        margin-top: 2em;
    }
    h1 {
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
    }

    .txt-robo {
        font-family: 'Roboto', sans-serif;
        font-weight: 500
    }

    p {
        font-family: 'Open Sans', sans-serif;
    }

    h4 {
        font-weight: 300
    }

    .bg-dark {
        background-color: #000000 !important;
    }

    .fs14 {
        font-size: 14px;
    }
</style>

<section class="jumbotron text-center">
    <div class="container" style="max-width: 600px;">
        <h1 class="txt-robo h1">ALL images</h1>
        <p>Here you can find all the images with their id</p>


    </div>
</section>
<div class="container">
    <div class="py-5">
        <div class="row">
            {% for post in object_list %}
            <div class="col-md-4">
                <a href="{{post.image.url}}" class="text-dark">
                    <div class="card mb-4 shadow mb-5 rounded">
                        <img src="{{post.image.url}}" alt="{{post.title}}" class="card-img-top">
                        <div class="card-body d-flex justify-content-between">
                            <p>{{post.title|truncatechars:50}}</p>
                            <p>#{{post.id}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include "base/footer.html" %}
{% endblock %}